.input-group {
    // width: 500px;
    // min-width: 365px;
    border: 0;
    // margin: 0 -15px  ;
    height: 38px;
    padding: 0 15px;
    border-radius: 10px;
    width: 100%;
    background: #fff;
    // .icon{
    //     display: flex;
    //     width: 10%;
    //     justify-content: center;
    //     align-items: center;   
    // }

    // .input-suggest {
    //     width: 90%;
    //     border: none;
    //     outline: none;
    // }
}